* {
    body{
    background-color: #F1E6D2;
    }   

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Quicksand", sans-serif;
    color: #5b2c27;
    text-align: justify;
    hr {
    border: none;
    height: 1px;
    margin: 20px;
    background-color: #d8c2bf;
    }
}

h2 {
    border: #5b2c27 1px solid;
    padding: 5px;
    margin: left;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

h3 {
    padding: 5px;
    margin: auto;
    width: 800px;
    border-radius: 10px;
    text-align: justify;
}

h4{
    color: #F1E6D2;
    background-color: #5b2c27;
    padding: 5px;
    margin: auto;
    width: 800px;
    border-radius: 10px;
    text-align: justify;
}

p {
        padding: 15px;
        margin: auto;
        width: 800;
    }

footer {
    span {
        color: #5b2c27;
    }
}

#menu {
    background-color: #5b2c27;
    padding: 10px;
    margin: auto;
    width: 800px;
    border-radius: 7px;
    a {
        color: #f1e6d2af;
    }
   text-align: center;
     
}

#inicio{
    margin: auto;
    width: 800px;
    p {
        padding: 10px;
        text-align: center;
    }
    h1{
        font-family: "Imperial Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 70px;
        padding: 1%;
        text-align: center;
    }
}

#curriculo {
    padding: 30px;
    margin: auto;
    width: 800px;
    text-align: justify;
}

#rodape {
    padding: 30px;
    margin: auto;
    width: 800px;
    text-align: center;
}

